/*СSS или Cascading Style Sheets (каскадные таблицы стилей) описывает стиль веб страницы
Синтаксис этого комментария используется так как и для однострочных, так и для многострочных комментариев
.Test - обращение к классу(можно приписать конкретный элемент из div), #Test - обращение к идентификатору*/
body {
     background-color: black;/*Цвет заднего фона*/
}
.Description {
     color: lime;/*Цвет элемента*/
     font-family: verdana;/*Указываем шрифт*/
     font-size: 15px;/*Размер шрифта*/
     text-align: center;/*Централизуем надпись*/
}
#MenuInterface {
     position: absolute;/*Абсолютное позиционирование*/
     
}
#GraphicsColor {
     color: yellow;
}